<div class="container">
    <form action="/corona" method="GET" class="row">
        <input type="text" name="country" class="col-lg-4">
        <input type="number" name="number" class="col-lg-4">
        <button class="btn bg-info">search</button>
    </form>
</div>
<div class="container">
    <p> country: {{found.country}}</p>
    <p> cases: {{found.cases}}</p>
    <p> todayCases: {{found.todayCases}}</p>
    <p> active: {{found.active}}</p>
    <p> deaths: {{found.deaths}}</p>
    <p> recovered: {{found.recovered}}</p>
    <p> deathsPerOneMillion: {{found.deathsPerOneMillion}}</p>
  
</div>
<div class="container">
    <div class="row">
        {{#each _ar}}
        <div class="col-lg-6 border">
            <h2>country: {{country}}</h2>
            <h2>cases: {{casesPerOneMillion}}</h2>
        </div>
        {{/each}}
    </div>
</div>